$primary-font: Lato;

$font-weights: ("regular": 400,
                "medium": 700,
                "bold": 900);

$primary-color: #777777;
$secondary-color: #FFFFFF;
$profile-color: #FC6664;
$card-value-color: #FD5272;

$primary-background-color: #FFFFFF;

$mobile: 768px;
$desctop: 768px;
