$primary-font: Lato;

$font-weights: ("regular": 400,
                "medium": 700,
                "bold": 900);

$primary-color: #777777;
$secondary-color: #FFFFFF;
$profile-color: #FC6664;



$primary-background-color: #FFFFFF;

