$primary-font: Lato;

$primary-color: #777777;
$secondary-color: #FFFFFF;
$profile-color: #FC6664;
$card-value-color: #FD5272;
$card-value-color-blue: #8549B5;
$main-background: #ECECEC;
$chat-background-color: #FCFCFC;
$primary-background-color: #FFFFFF;

$mobile: 768px;
$desctop: 768px;
